################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/MP-2021-JPRO-PROJECT.sln
/MP-2021-JPRO-PROJECT.vcxproj
/MP-2021-JPRO-PROJECT.vcxproj.filters
/MP-2021-JPRO-PROJECT.vcxproj.user
frame*.bmp
/a.out
*.gif
